

/* body {
   
}

.fireflies-container {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.firefly{
    z-index: 2;
    position: absolute;
    width: 4px;
    height: 4px;
    animation: move var(--t1) ease infinite alternate;
    animation-delay: var(--d1);
    pointer-events: none;
    
}

.firefly::before,
.firefly::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.firefly::before {
    background: white;
    opacity: 0.4;
    animation: drift var(--t2) ease alternate infinite, flash var(--t2) ease infinite;
    animation-delay: var(--d2);
}

@keyframes move {
    0% {
        transform: scale(0.25);
    }
    100% {
        transform: translate(calc( -50vw + var(--x)), calc(-50vh + var(--y))) scale(var(--s));
    }
}



@keyframes drift {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes flash {
    0%, 30%, 100% {
        opacity: 0;
        box-shadow: 0 0 5px 2px yellow;
    }
    5% {
        opacity: 0;
        box-shadow: 0 0 10px 5px yellow, 0 0 20px 10px yellow, 0 0 40px 15px  yellow;

    }

    75% {
        opacity: 0.2;
        box-shadow: 0 0 0px 0px yellow;
    }
} */